/* Global variables */
:root {
  /* Colors */
  --primary: #2ea3f2;
  --secondary: #1c7ed6;

  --dark: #0d0f14;
  --light: #fff;

  /* Fonts */
  --font-body: "Exo 2";
  --font-brand: "Exo 2";

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;
  color: var(--dark);
}

:root.theme-dark {
  color: var(--light);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-family: var(--font-brand);
  font-weight: 600;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
