---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="first" style="height: 300px;">First</div>
  <div class="inter" style="height: 300px;">Inter 1</div>
  <div class="inter" style="height: 300px;">Inter 2</div>
  <div class="inter" style="height: 300px;">Inter 3</div>
  <div class="inter" style="height: 300px;">Inter 4</div>
  <div class="last" style="height: 300px;">Last</div>
</BaseLayout>

<style>
  .first {
    background: var(--bg-image-main-top);
  }

  .last {
    background-image: var(--bg-image-main-bottom);
  }
</style>
