---
import ThemeToggle from "./ThemeToggle.astro";
import { getCollection } from "astro:content";

const sections = (await getCollection("sections"))
  .filter((s) => s.data.order != -1)
  .sort((a, b) => a.data.order - b.data.order);

const restSections = sections.filter((s) => s.data.label != "Контакты");
const mainSections = sections.filter((s) => s.data.label == "Контакты");
---

<nav>
  <div class="logo">
    <img src="/assets/logo.svg" alt="logo" class="logo-img" />
     Accept
  </div>
  <div class="right">
    <div class="rest">
      {
        restSections.map((item) => (
          <a href={item.data.href}>{item.data.label}</a>
        ))
      }
    </div>
    {mainSections.map((item) => <a href={item.data.href}>{item.data.label}</a>)}
    <ThemeToggle />
  </div>
</nav>

<script></script>

<style>
  nav {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px #aaaaaa;
    background-color: transparent;
    font-size: 1.3rem;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  :root.theme-dark nav {
    box-shadow: 0px 1px 1px #444444;
  }
  .logo-img {
    height: 2.5rem;
  }
  .right,
  .rest {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    font-size: 1rem;
  }

  .right a,
  .rest a {
    padding-bottom: 0.1rem;
    background: no-repeat 0 100%;
    background-image: var(--accept-short-gradient);
    background-size: 0% 2px;
    transition: background-size 0.4s ease;
    transition-delay: 0.2s;
  }
  .right a:hover,
  .rest a:hover {
    background-size: 100% 2px;
  }

  @media (max-width: 60rem) {
    .rest {
      display: none;
    }
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
  }
</style>
