---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav>
  <a href="#">
    <img src="/accept_landing/assets/logo.svg" alt="logo" class="logo-img" />
     Accept
  </a>
  <ThemeToggle />
</nav>

<script></script>

<style>
  nav {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px #aaaaaa;
    background-color: transparent;
  }

  :root.theme-dark nav {
    box-shadow: 0px 1px 1px #444444;
  }
  .logo-img {
    height: 2.5rem;
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.3rem;
  }
</style>
