---

---

<theme-toggle>
  <button id="theme-toggle">Theme</button>

  <style></style>

  <script>
    class ThemeToggle extends HTMLElement {
      constructor() {
        super();

        const button = this.querySelector("#theme-toggle")!;

        /** Set the theme to dark/light mode. */
        const setTheme = (dark: boolean) => {
          document.documentElement.classList[dark ? "add" : "remove"](
            "theme-dark"
          );
          button.setAttribute("aria-pressed", String(dark));
        };

        // Toggle the theme when a user clicks the button.
        button.addEventListener("click", () => setTheme(!this.isDark()));

        // Initialize button state to reflect current theme.
        setTheme(this.isDark());
      }

      isDark() {
        return document.documentElement.classList.contains("theme-dark");
      }
    }
    customElements.define("theme-toggle", ThemeToggle);
  </script>
</theme-toggle>
