<div class="last" id="contacts">
  <div class="wrapper">
    <div class="left">
      <div>
        <h3>Свяжитесь с нами</h3>
        <div class="description">
          Оставьте свои контанты и мы свяемся с вами
        </div>
      </div>
      <form action="">
        <div class="fields">
          <div class="formfield">
            <label for="name">Ф.И.О.</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Иваниов Иван Иванович"
            />
          </div>
          <div class="formfield">
            <label for="company">Организация</label>
            <input
              type="text"
              name="company"
              id="company"
              placeholder="Школа №3 города Васино"
            />
          </div>
          <div class="formfield">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="ivanov@vasino.ru"
            />
          </div>
        </div>
        <button type="submit">Отправить</button>
      </form>
    </div>
    <div class="right">
      <div>
        <h3>Другие способы связи</h3>
        <div class="description">Напишите нам пользуясь другими средствами</div>
      </div>
      <div class="options">
        <div>
          <h4><span></span>Mail</h4>
          <div class="description">accept@gmail.com</div>
        </div>
        <div>
          <h4><span>Telegram</span></h4>
          <div class="description">@dsomni</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .last {
    padding-top: 5rem;
    background-image: var(--bg-image-main-bottom);
    height: 70vh;
  }
  .wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    box-shadow: 1px 1px 4px black;
  }
  .left {
    width: 60%;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .left > form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right {
    width: 40%;
    padding: 1rem;
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  input {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 2px black;
    padding: 0.4rem 1rem;
  }
  .formfield {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 0.75rem;
  }
  label {
    font-size: 1rem;
  }
  button {
    color: white;
    font-weight: 600;
    margin-top: 2rem;
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
  }
  .description {
    font-size: 1rem;
  }
</style>
