<section id="contacts">
  <h2>Заинтересованы? Свяжитесь с нами!</h2>
  <div class="wrapper">
    <h3>Наши контакты</h3>
    <div class="contactWrapper">
      <h4>Email:</h4>
      <span class="contact">paradise.crane.accept@gmail.com</span>
    </div>
    <div class="contactWrapper">
      <h4>Telegram:</h4>
      <span class="contact">@d.flip.floppa</span>
    </div>
    <div class="contactWrapper linkWrapper">
      <a
        href="mailto:paradise.crane.accept@gmail.com?subject=%D0%9E%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9%20%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%20Accept&body=%D0%9D%D0%B0%D1%88%D0%B0%20%D0%BE%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F%20%3C%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%BE%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8%3E%20%D1%85%D0%BE%D1%82%D0%B5%D0%BB%D0%B0%20%D0%B1%D1%8B%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D0%B4%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%83%D1%8E%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%B8%20%D0%BE%D0%B1%20Accept!"
        target="_blank"
        rel="noopener nereferrer">Связаться с нами!</a
      >
    </div>
  </div>
</section>
<style>
  h2 {
    margin: 2rem auto 5rem auto;
    text-align: center;
    font-size: 1.7rem;
    max-width: max(50%, 400px);
  }
  h3 {
    margin: 0 auto;
  }
  h4 {
    display: inline-block;
  }
  .contact {
    font-size: 1rem;
  }
  .contactWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    flex-wrap: wrap;
  }
  section {
    padding: 0 0 8rem 0;
    min-height: 50vh;
    border-bottom: 1px solid #00000030;
  }
  .wrapper {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
    margin: auto;
    box-shadow: 1px 1px 120px var(--primary);
    width: 500px;
    background-color: var(--light-2);
    border-radius: 0.5rem;
  }
  :root.theme-dark .wrapper {
    color: white;
    background-color: var(--dark-2);
    box-shadow: 1px 1px 120px white;
  }
  :root.theme-dark a {
    border: 1px solid var(--dark);
  }
  :root.theme-dark .linkWrapper {
    background-image: var(--accept-short-gradient);
  }

  .linkWrapper {
    margin-top: 1rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
  }
  a {
    color: white;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    background: transparent;
    cursor: pointer;
  }
  @media screen and (max-width: 700px) {
    .wrapper {
      width: fit-content;
    }
  }
</style>
