---
import { getCollection } from "astro:content";

const features = (await getCollection("features")).sort(
  (a, b) => a.data.order - b.data.order
);
---

<div id="features" class="features">
  {
    features.map(async (feature, index) => {
      const { Content, headings } = await feature.render();
      return (
        <section>
          <div class="inner">
            <div class="mainInfo">
              <h1 class="title">{feature.data.title}</h1>
              <div class="P">
                <Content />
              </div>
            </div>
            <div class="images">
              <img
                class="left"
                src={feature.data.imageLeft}
                alt="Feature. Teacher`s` view"
              />
              <img
                class="right"
                src={feature.data.imageRight}
                alt="Feature. Student`s` view"
              />
            </div>
            <p class="P">{feature.data.bottomP}</p>
          </div>
          <div class="separator" />
        </section>
      );
    })
  }
</div>

<style>
  .features section:nth-child(odd) {
    background-color: var(--light-2);
  }
  .separator {
    width: 100%;
    outline: 1px solid #00000030;
  }
  :root.theme-dark .separator {
    filter: invert(1);
  }
  :root.theme-dark .features section:nth-child(odd) {
    background-color: var(--dark-2);
  }

  h2 {
    font-size: 3rem;
  }
  section {
    /* padding: 4rem 0; */
  }
  .inner {
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  @media (orientation: portrait) {
    .inner {
      padding: 4rem 1rem;
    }
  }
  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .P {
    max-width: 65%;
  }
  .images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
    margin: 1.5rem 0;
  }

  img {
    width: 35vw;
    border-radius: 5px;
  }
  img.right {
    box-shadow: 8px 5px 40px 0px var(--primary);
  }
  img.left {
    box-shadow: -8px 5px 40px 0px var(--primary);
  }
  :root.theme-dark img {
    box-shadow: 0px 0px 18px 0px var(--light);
  }
  @media screen and (max-width: 700px) {
    .images {
      flex-direction: column;
    }
    img {
      width: 75vw;
    }
  }
</style>
