---
import { getCollection } from "astro:content";

const features = (await getCollection("features")).sort(
  (a, b) => a.data.order - b.data.order
);
---

<div id="features" class="features">
  <div class="separator"></div>

  {
    features.map(async (feature, index) => {
      const { Content, headings } = await feature.render();
      return (
        <section>
          <div class="inner">
            <div class="mainInfo">
              <h1 class="title">{feature.data.title}</h1>
              <div class="paragraph">
                <Content />
              </div>
            </div>
            <div class="images">
              <img
                class="left"
                src={feature.data.imageLeft}
                alt="Feature. Teacher`s` view"
              />
              <img
                class="right"
                src={feature.data.imageRight}
                alt="Feature. Student`s` view"
              />
            </div>
            <div class="paragraph">{feature.data.bottomP}</div>
          </div>
          <div class="separator" />
        </section>
      );
    })
  }
  <div class="seeYourself">
    <a href="https://ts-nix.vplicei.org/" target="_blank">
      <span> Увидеть своими глазами!</span>
    </a>
  </div>
  <div class="separator"></div>
</div>

<style>
  .features section:nth-child(odd) {
    background-color: var(--light-2);
  }

  :root.theme-dark .seeYourself a {
    border: 1px solid var(--dark);
  }

  .seeYourself {
    width: 65%;
    margin: 3rem auto;
    background-image: var(--accept-short-gradient);
    border-radius: 1rem;
  }
  .seeYourself a {
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    padding: 3rem 1rem;
    border-radius: 1rem;
    background: transparent;
    cursor: pointer;
    text-align: center;
    background-image: url("/accept_landing/assets/eyes1.png");
    background-size: clamp(300px, 30vw, 400px);
    background-repeat: repeat;
    background-position: 0px 0px;
    animation: eyesRotate 7s linear infinite;
  }

  @media (prefers-reduced-motion) {
    .seeYourself a {
      animation: unset;
    }
  }
  @keyframes eyesRotate {
    0% {
      background-position: 35px 0px;
    }
    12.5% {
      background-position: 24.75px 24.75px;
    }
    25% {
      background-position: 0px 35px;
    }
    37.5% {
      background-position: -24.75px 24.75px;
    }

    50% {
      background-position: -35px 0;
    }
    62.5% {
      background-position: -24.75px -24.75px;
    }
    75% {
      background-position: 0 -35px;
    }
    87.5% {
      background-position: 24.75px -24.75px;
    }
    100% {
      background-position: 35px 0px;
    }
  }
  .seeYourself a span {
    border-radius: 10px;
    width: fit-content;
    padding: 0.3rem 0.2rem;
    backdrop-filter: blur(35px);
  }

  .seeYourself a:hover {
    box-shadow: 1px 0 15px var(--primary);
  }
  .separator {
    width: 100%;
    outline: 1px solid #00000030;
  }
  :root.theme-dark .separator {
    filter: invert(1);
  }
  :root.theme-dark .features section:nth-child(odd) {
    background-color: var(--dark-2);
  }

  h2 {
    font-size: 3rem;
  }
  .title {
    text-align: center;
  }
  section {
    /* padding: 4rem 0; */
  }
  .inner {
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  @media (orientation: portrait) {
    .inner {
      padding: 4rem 1rem;
    }
  }
  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .paragraph {
    max-width: 65%;
    text-align: center;
  }
  .images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
    margin: 1.5rem 0;
  }

  img {
    width: 35vw;
    border-radius: 5px;
  }
  img.right {
    box-shadow: 8px 5px 30px 0px var(--primary);
  }
  img.left {
    box-shadow: -8px 5px 30px 0px var(--primary);
  }
  :root.theme-dark img {
    box-shadow: 0px 0px 18px 0px var(--light);
  }
  @media screen and (max-width: 700px) {
    .images {
      flex-direction: column;
    }
    img {
      width: 75vw;
    }
    .paragraph {
      max-width: 90%;
    }
  }
</style>
