---
import { getCollection } from "astro:content";

const features = (await getCollection("features")).sort((a, b) => a.data.order - b.data.order);
---

{
  features.map(async (feature, index) => {
    const {Content, headings} = await feature.render();
    return (
      <section>
        <div class="inner">
          <div class="mainInfo">
            <h2 class="title">{feature.data.title}</h2>
            <div class="P">
              <Content />
            </div>
          </div>
          <div class="images">
            <img
              src={feature.data.imageLeft}
              alt="Task description editor"
            />
            <img
              src={feature.data.imageRight}
              alt="Resulting task"
            />
            <!-- Two images one description editor, second resulting task -->
          </div>
          <p class="P">
            {feature.data.bottomP}
          </p>
        </div>
      </section>
      )
  })
}

<style>
  section {
    margin: 5rem 0;
  }
  .inner {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  @media (orientation: portrait) {
    .inner{
      padding: 0 1rem;
    }
  }
  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .P {
    max-width: 65%;
  }
  .images {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img {
    width: 35vw;
  }
  @media screen and (max-width: 700px) {
    .images {
      flex-direction: column;
    }
    img{
      width: 75vw;
    }
  }

</style>
